* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.titlezh {
	height: 0.6rem;
	width: 100%;
	background-color: #0066b3;
}

.shouyel {
	width: 0.2rem;
	height: 0.6rem;
	margin-right: 0.13rem;
	float: left;
}

.shouyel img {
	height: 0.6rem;
}

.shouyec {
	width: 2.5rem;
	height: 0.6rem;
	float: left;
	background-image: url(../images/investment/jiqir.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
}

.shouyec img {
	height: 0.6rem;
	margin-right: 0.075rem;
}

.shouyec .zspan {
	font-size: 0.18rem;
	color: #fff;
	font-weight: 600;
	margin-left: 0.45rem;
	margin-top: 0.13rem;
}

.shouyec .zspan2 {
	font-size: 0.11rem;
	color: #dbdada;
	margin-left: 0.45rem;
}

.shouyer {
	float: right;
	width: 0.37rem;
	height: 0.6rem;
}

.shouyer img {
	height: 0.6rem;
}

.zhuangtai {
	width: 100%;
	height: 0.35rem;
	background-color: #fff;
	border-bottom: 1px solid #bcbcbc;
	line-height: 0.35rem;
}

.zhuangtai2 {
	width: 100%;
	height: 0.35rem;
	background-color: #fff;
	line-height: 0.35rem;
	font-size: 0.15rem;
}

.zhuangtai2 img {
	height: 0.2rem;
	float: left;
	margin-top: 0.05rem;
}

.zhuangtai2 div {
	width: 2rem;
	float: left;
	height: 0.35rem;
}

.chatbox{
	height: 4rem;
	overflow-x: hidden;
}
.left {
	float: left;
	width: 100%;
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
}

.left img {
	float: left;
	height: 0.45rem;
}

.left_zi {
	display: table;
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	border-radius: 20px;
	max-width: 3rem;
	font-size: 0.15rem;
	padding: 0.14rem;
	float: left;
}
span.evaluate{
	font-size: 0.12rem;
	color: #3c3c3c;
}
span.evaluate a{
	color: blue;
}
.right {
	float: right;
	width: 100%;
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
}

.right img {
	float: right;
	height: 0.45rem;
}

.right_zi {
	display: table;
	background-color: #0066b3;
	border: 1px solid #e6e6e6;
	border-radius: 20px;
	max-width: 3rem;
	padding: 0.14rem;
	font-size: 0.15rem;
	color: #fff;
	float: right;
}

.footg {
	background-color: #0066b3;
	color: #fff !important;
}

.footzcon {
	height: 0.61rem;
	width: 100%;
	background-color: #e6e6e6;
	border-top: 1px solid #bcbcbc;
	clear: both;
}

.footzcon a {
	float: left;
	display: block;
	border: 1px solid #0066b3;
	font-size: 0.16rem;
	font-weight: bold;
	color: #0066b3;
	height: 0.4rem;
	line-height: 0.4rem;
	width: 1.075rem;
	text-align: center;
	margin-top: 0.1rem;
}

.foot2 {
	margin-left: 0.075rem;
	margin-right: 0.075rem;
}

.footzcon2 {
	height: 0.61rem;
	width: 100%;
	background-color: #e6e6e6;
	border-top: 1px solid #bcbcbc;
	clear: both;
}

.footzcon2 a {
	text-align: center;
	display: block;
	width: 0.63rem;
	background-color: #0066b3;
	color: #fff;
	font-size: 0.16rem;
	font-weight: bold;
	line-height: 0.4rem;
	height: 0.4rem;
	border: 1px solid #0066b3;
	border-radius: 2px;
	float: right;
	margin-top: 0.1rem;
}

.footzcon2 input {
	background-color: #fff;
	width: 2.65rem;
	height: 0.37rem;
	margin-top: 0.12rem;
	border: 1px solid #fff;
	border-radius: 2px;
	color: #736868;
	padding-left: 0.1rem;
}


/* 半透明的遮罩层 */

#main {
	text-align: center;
}

#fullbg {
	background-color: gray;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 3;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

#dialog {
	height: 2.2rem;
	left: 50%;
	padding: 1px;
	position: fixed !important;
	/* 浮动对话框 */
	position: absolute;
	top: 50%;
	margin-left: -1.7rem;
	margin-top: -1rem;
	width: 90%;
	z-index: 5;
	display: none;
}

.zcon {
	background: #fff;
	height: 1.8rem;
	padding-top: 0.3rem;
	text-align: center;
	font-size: 0.15rem;
}

.zcon span {
	color: #0065b3;
}

.zcon a {
	margin: 0 auto;
	display: block;
	border: 1px solid #0066b3;
	font-size: 0.16rem;
	font-weight: bold;
	color: #fff;
	height: 0.4rem;
	line-height: 0.4rem;
	width: 1.075rem;
	text-align: center;
	margin-top: 0.2rem;
	background-color: #0066b3;
}

#dialog .zp {
	height: 0.4rem;
	background: #0065b3;
}

#dialog .zp img {
	height: 0.4rem;
}

#dialog .zp.close {
	text-align: right;
}

#dialog .zp.close a {
	color: #fff;
	text-decoration: none;
}

.lianjiez {
	height: 1.08rem;
	width: 100%;
	text-align: center;
	padding-top: 0.28rem;
	border-bottom: 1px solid #c6c6c6;
}

.lianjiez p {
	margin-bottom: 0.15rem;
}

.lianjiez img {
	height: 0.2rem;
	width: 0.2rem;
	margin-right: 0.1rem;
}

.lianjiez2 {
	height: 3.5rem;
	width: 100%;
	text-align: center;
	padding-top: 0.28rem;
	border-bottom: 1px solid #c6c6c6;
}

.lianjiez2 a {
	margin: 0 auto;
	display: block;
	border: 1px solid #0066b3;
	font-size: 0.16rem;
	color: #fff;
	height: 0.4rem;
	line-height: 0.4rem;
	width: 1.075rem;
	text-align: center;
	margin-top: 0.2rem;
	background-color: #0066b3;
}

/*下班提示*/
div.row{
	position: relative;
}
.servicetime{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.umbrbox{
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
}
.timewicket{
	width: 2.85rem;
	height: 1.8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.425rem;
	margin-top: -1.5rem;
	background-color: #FFFFFF;
}
.wickettitle{
	width: 100%;
	height: 0.25rem;
	background-color: #0065B3;
}
p.presentation{
	font-size: 0.16rem;
	color: #383737;
	margin-top: 0.2rem;
	margin-left: 0.3rem;
}
span.clock{
	color: #0065b3;
}
span.sureok{
	width: 1rem;
    height: 0.3rem;
    border-radius: 0.04rem;
    color: #fff;
    background-color: #0065b3;
    display: block;
    margin: 0.2rem auto 0;
    text-align: center;
    line-height: 0.3rem;
}

iframe.kfiframe{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#fff;
	border-radius:5px;
	border:none;
	width: 100%;
	height: 100%;
}
