.click_states i {
  background: url("../images/mCLogin/hover_icon.png") no-repeat 0 -61px;
}
.main_right {
  padding-bottom: 198px;
}
.modification {
  position: relative;
  padding: 40px 0;
  height: 50px;
}
.modification a:hover {
  background-color: #0066b3 ;
}
.modification a {
  position: absolute;
  width: 140px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background: #959595 url("../images/mCLogin/icon_arrow.png") no-repeat 92px 17px;
  cursor: pointer;
  cursor: hand;
}
a.message_qure {
  left: 120px;
}
a.message_save {
  left: 280px;
}

.input_box {
  position: relative;
  height: 34px;
  padding-bottom: 30px;
}
.input_box .input_part {
  position: absolute;
  top: 0;
  right: 0;
}
.input_box input {
  outline: none;
  padding-left: 15px;
  width: 333px;
  height: 33px;
  border: 1px solid #959595;
  padding-top: 0;
  padding-bottom: 0;
}
.input_mark .input_part {
  width: 350px;
}
.input_mark span {
  display: inline-block;
  width: 120px;
  height: 35px;
  background-color: #0066b3;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size; 14px;
  float: right;
  cursor: pointer;
  cursor: hand;
}
.input_mark .input_part input {
  float: left;
  width: 193px;
}
.input_box .error_warn {
  color: #e22;
  font-size: 12px;
  position: absolute;
  line-height: 30px;
  width: 350px;
  top: 34px;
  left: 0;
  display: none;
}
.error_warn i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  display: inline-block;
  background: url("../images/mCLogin/icon_pass_part.png") no-repeat -17px 0px;
}
/*密码强度*/
.error_warn i.passlow {
  background-position: -17px -34px;
}
.error_warn i.passcenter {
  background-position: -34px -17px;
}
.error_warn i.passhigh {
  background-position: -34px -34px;
}
.error_warn p {
  display: inline-block;
  text-indent: 25px;
}
.input_box label {
  position: absolute;
  left: 0;
  top: 8px;
  color: #0066b3;
}
p.mark_des {
  text-indent: 94px;
  font-size: 12px;
  color: #959595;
  padding-bottom: 10px;
}
p.mark_des span {
  color: #0066b3;
}
.formHandle a:hover {
  background-color: #0066b3;
}
.main_part .border_color {
  border: 1px solid #0066b3;
}
.input_mark .btn-code-disable {
  background: #ccc;
  color: #999;
  cursor: default;
}
.input_box .i-status {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 10px;
  display: none;
  background: url("../images/mCLogin/icon_pass_part.png") no-repeat 0px -17px;
}
.input_mark .i-status {
  right: 150px;
}



.content_part {
  width: 450px;
  margin: 0 auto;
  padding-top: 10px;
}
