.clearfix:after 
{ 
	content:"."; 
	display:block; 
	height:0;
	visibility:hidden;
	clear:both; 
	font-size: 0px;
}
.mainPanel
{
    margin-top: 70px;
    margin-bottom: 100px;
    overflow: hidden;
}
.mainPanel .innerPanel
{
	margin-bottom:70px;
}
.mainPanel h2
{
    position: relative;
    font-weight: normal;
    text-align: center;
    /*opacity: 0;*/
}
.mainPanel h2 .enTitle
{
    color: #0066b3;
    font-family: Arial;
    font-size:38px;
    font-weight: bold;
    text-transform:uppercase;
}
.mainPanel h2 .cnTitle
{
    font-size:32px;
}
.siteMap_ul li{
	float:left;
	margin-left:28px;
	margin-right:28px;
}
.siteMap_ul li a{
	color:#0066b3;
	font-size:14px;
	font-family:"微软雅黑";
}
.siteMap_ul li div.mapBox{
	border-left:1px solid #919191;
	margin-top:20px;
	position:relative;
}
div.mapBox a{
	display:block;
	font-style:normal;
	font-size:12px;
	font-family:"微软雅黑";
	color:#000;
	padding-left:13px;
	background: url("../images/arrow.png") no-repeat left center;
	line-height:26px;
}
.siteMap_ul li div.mapBox span{
	position:absolute;
	display:block;
	width:2px;
	background-color:#fff;
	left:-1px;
}
span.top{
	height:12px;
	top:0px;
}
span.bot{
	bottom:-1px;
	height:13px;
}

.sitemapPanel
{
	width: 1110px;
	margin: 0px auto;
}